<!DOCTYPE html>
<html lang="en">
  <head>
  
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
  <link href="/everypizza1-blog-pages/public/fontawesome.css" rel="stylesheet">
  <link href="/everypizza1-blog-pages/public/brands.css" rel="stylesheet">
  <link href="/everypizza1-blog-pages/public/solid.css" rel="stylesheet">
    {% seo "" %}
  </head>
  <body>
  <main>
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      <footer class="footer">

        <div class="links">
          <a href="/everypizza1-blog-pages/">Home</a>
          <span class="divider">|</span>
          <a href="/everypizza1-blog-pages/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/everypizza1-blog-pages/about">About</a>
          <span class="divider">|</span>
          <a target = "blank" href="https://github.com/everypizza1"><i class="fa-brands fa-github"></i></a>
          <span class="divider">|</span>
          <a target = "blank" href="https://youtube.com/channel/UCucv82Otbgg6uiIbssku5SA"><i class="fa-brands fa-youtube"></i></a>
          <span class="divider">|</span>
          <a target = "blank" href="https://www.last.fm/user/EveryPizza"><i class="fa-brands fa-lastfm"></i></a>
          <span class="divider">|</span>
          <a target = "blank" href="https://steamcommunity.com/profiles/76561199544375398/"><i class="fa-brands fa-steam"></i></a>
        </div>


      </footer>
    
  </main>
   
  </body>
</html>
